.section__titulo{
  text-align: center;
  font-size:xx-large;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 0;
  color: #047068;
  border-bottom: 1px dotted black;
}
.section__contenedor-tarjetas-productos{
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}